<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bitcoin Calculator</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container">
        <form action="/calculate" method="POST">
            <input type="text" name="userCoins" placeholder="Enter the number of BitCoins">

            <select name="currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
            </select>

            <button type="submit">Calculate</button>
        </form>

        <% if(data) {%>
            <p>You've got <%= data.worth %> <%= data.code %> worth BitCoins </p>
            <p class="disclaimer"> <%= data.disclaimer %></p>
        <% } %>
    </div>
    
</body>
</html>