*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
}

.container {
    text-align: center;
    margin: 5rem;
}

P {
    margin: 1rem;
}

.disclaimer {
    font-size: 0.8rem;
}